.float-action {
    margin-top: 15px;

    &__wrapper {
        position: fixed;
        right: 2%;
        bottom: 5%;
        z-index: 5;
        transition: all 0.3s ease-in-out;

        &--left {
            right: auto;
            left: 2%;
        }
    }

    &--scroll-top {
        transform: translateX(200%);
        bottom: 30px;
        .float-action__container {
            background-color: #3498db;

            &:hover {
                background-color: darken(#3498db, 10%);
            }
        }

        &.active {
            transform: translateX(0%);
        }
    }

    &.active {
        transform: translateX(0%);
    }

    &.loading {
        .float-action__container {
            background-color: lighten(#e74c3c, 10%);
        }
    }

    &__container {
        background-color: #e74c3c;
        border-radius: 50%;
        box-shadow: 3px 3px 3px #cec8c8;

        &:hover {
            background-color: darken(#e74c3c, 10%);
        }

        a {
            padding: 10px 15px;
            display: inline-block;
        }
    }

    &--secondary {
        .float-action__container {
            background-color: #ecf0f1;

            svg {
                color: #000;
            }
        }
    }

    .scroll,
    .plus,
    svg {
        color: #fff;
        cursor: pointer;
    }

    .spinner {
        width: 17px;
    }
}
